<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="static/img/favicon.png">
    <link rel="stylesheet" href="static/styles/bootstrap.min.css">
    <script type=text/javascript src="{{url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{url_for('static', filename='js/Chart.js') }}"></script>
    <script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <title>{{ index_name }}</title>
</head>

<body>
    <div class="jumbotron text-center">
        <h2>Memory Statistics</h2>
    </div>
    <div class="container-fluid bg-4 text-center">
        <div class="row text-center border">
            <h3>Allocation/Flush Summary</h3>
            <table id="summary_table" class="table table-bordered" style="width: 500px" align="center">
                {% set summary = config['memory_access_stats'].resource_summary(config['default_resource']) %}
                {% for key in sorted(summary.keys())%}
                <tr>
                    <th>{{key}}</th><td>{{summary[key]}}</td>
                </tr>
                {% endfor %}
            </table>
            <label>Resource:
                <select id="summary_selector">
                {% for key in config['space_stats'].keys() %}
                {% if key ==  config['default_resource'] %}
                    <option value="{{key}}" selected="selected">{{key}}</option>
                {% else %}
                    <option value="{{key}}">{{key}}</option>
                {% endif %}
                {% endfor %}
                </select>
            </label>
            <hr/>
        </div>
        <div class="row">
            <div class="col-sm-4" style="height: 300px">
                <h3>Resource Sizes (byte)</h3>
                <canvas id="space_lenght_chart"></canvas>
                <hr/>
            </div>
            <div class="col-sm-4" style="height: 300px">
                <h3>Resource Utilizations</h3>
                <canvas id="space_chart"></canvas>
                <hr/>
                <label>Threads:
                <select id="resource_chart_select">
                {% for key in config['location_mapping'].keys() %}
                <option value="{{key}}">{{key}}</option>
                {% endfor %}
                </select>
                </label>
            </div>
            <div class="col-sm-4" style="height: 300px">
                <h3>Access Distribution across Threads</h3>
                <canvas id="thread_chart"></canvas>
                <hr/>
                <label>Resource:
                <select id="thread_chart_select">
                {% for key in config['space_stats'].keys() %}
                <option value="{{key}}">{{key}}</option>
                {% endfor %}
                </select>
                </label>
            </div>
            <script src="{{url_for('static', filename='js/memory_statistics.js') }}"></script>
            <script>
                function init_resource_size_chart(event) {
                    {% set lenghts = get_space_lengths() %}
                    access_type_data = {
                        datasets: [{
                            data: [{% for item in lenghts %} {{item}}, {% endfor %}],
                            backgroundColor: [
                                {% for key in config['space_stats'].keys() %} "{{ config['src_colors'][key] }}", {% endfor %}
                                ],
                        }],
                        labels: [{% for key in config['space_stats'].keys() %} "{{key}}", {% endfor %}]
                    };

                    type_chart_ctx = document.getElementById("space_lenght_chart").getContext("2d");
                    window.access_type_chart = new Chart(type_chart_ctx, {
                        type: 'doughnut',
                        data: access_type_data,
                        options: {
                            responsive: true,
                            maintainAspectRatio: false,
                        },
                    });
                }
                document.addEventListener("DOMContentLoaded", init_resource_size_chart);
                init_chart_listener();
            </script>
        </div>
    </div>
</body>

</html>
